.weather-card {
    color: white;

    background: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;
    min-width: 200px;
}

.weather-card-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.weather-card-date {
    font-size: 0.75rem;
    font-weight: 400;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 2rem;
}

.weather-card-location {
    font-size: 1.25rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0.75rem;
}

.weather-card-icon {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-card-icon svg {
    width: 4rem;
    height: 4rem;
    margin: 0;
    margin-bottom: 0.25rem;
}

.weather-card-icon p {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
}

.weather-card-temperature {
    font-size: 4rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0rem;
}

.weather-card-temperature-feels {
    font-size: 0.75rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.weather-card-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
}

.weather-card-details li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
    gap: 0.5rem;
}

.weather-card-details li p {
    margin: 0;
}

.weather-card-wind {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0rem;
}